header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #14269c;
    padding: 5px;

    border-bottom: 5px solid #050a2b;
}

.header-links {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

a {
    font-size: 30px;
    color: #dcdaeb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

    margin-right: 10px;
}

.brand-logo {
    margin-left: 10px;
    height: 50px;
    float: left;
}

.brand-text {
    font-size: 30px;
    color: #dcdaeb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin: 5px 0 0 20px;
}