<section class = "login">
    <section class = "header">
        <img src = "/assets/moon-night.jpg">
        <p class = "title">Login</p>
        <p class = "message">To be a happy dev!</p>
    </section>
    <section class = "input-section">
        <div class = "part">
            <div>
                <img src = "/assets/at-icon.png" style="height: 25px; margin-top: 2.5px;">
                <p>Email</p>    
            </div>
            <input type="email" [formControl]="email">
        </div>
        <div class = "part">
            <div>
                <img src = "/assets/pasword-icon.png">
                <p>Password</p>    
            </div>
            <input type="password" [formControl]="password">
        </div>
        <button (click) = "login()">Log in</button>
    </section>
</section>
