@import "../styles/main";

.content {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, $c-dark 66%, $c-medium);
    min-height: 100svh;
}

.sidenav {
    background-image: linear-gradient(180deg, $c-dark 66%, $c-medium);
    height: 95vh;
    margin-top: 2vh;
    border: 2px solid $c-light;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $c-white;
}