<section class = "pitch">
    <img src = "/assets/starrednight.jpg">
    <h1 class = "pitch-text">Happy Devs make happy projects</h1>
</section>
<section class = "news-section">
    <section class = "news-title">
        <img class = "news-icon" src = "/assets/news-icon.png">
        <h2>News</h2>
    </section>
    <section class = "news-content">
        <section class = "news-left">
            <div class = "percent65"></div>
            <div class = "percent35"></div>
        </section>
        <section class = "news-right">
            <div class = "percent35"></div>
            <div class = "percent65"></div>
        </section>
    </section>
</section>
