
<section style="width: 100%; height: 100%;">
    <section class = "pitch">
        <img src = "/assets/starrednight.jpg">
        <h1 class = "text">Happy Devs make happy projects</h1>
    </section>
    <section class = "news">
        <section class = "title">
            <img class = "icon" src = "/assets/news-icon.png">
            <h2>News</h2>
        </section>
        <section class = "content">
            <section class = "main"></section>
            <section class = "side-1"></section>
            <section class = "side-2"></section>
        </section>
    </section>    
</section>
