<section class = "create-post">
    <section class = "post">
        <h2>Title</h2>
        <input #title type="text" class = "title" max="256">
        <h2 style = "margin-top: 1%;">Post</h2>
        <textarea #content class = "content" maxlength="2000"></textarea>
        <button class = "save" (click)="savePost(title.value, content.value)">Ask</button>    
    </section>
    <section class = "other-posts">
        <h2>Recent posts</h2>
        <ul>
            <li *ngFor="let post of displayPosts">
                <div class = "top">
                    <div class = "left">
                        <h3>{{post.title}}</h3>
                        <h4>{{post.username}}</h4>
                    </div>
                    <p>{{post.at}}</p>    
                </div>
                <div class = "divider"></div>
            </li>
        </ul>
    </section>
</section>
