@import "../../styles/main";

.create-post {
    padding-top: 70px;
    padding-left: 5%;
    padding-right: 5%;

    height: 80svh;

    display: flex;
    flex-direction: row;

    .post {
        width: 75%;
        margin-right: 5%;
        height: 100%;
        position: relative;

        h2 {
            margin: 0;
            height: 5%;
        }

        .title {
            height: 5%;
            min-height: 30px;
            width: 100%;
            resize: none;
            background-color: $c-dark;
            @include light-glow;
            color: $c-white;
            font-size: x-large;
            font-family: $default-font;
        }
    
        .content {
            height: 75%;
            width: 100%;
            resize: none;
            background-color: $c-dark;
            @include light-glow;
            color: $c-white;
            font-size: large;
            font-family: $default-font;
        }   
        
        .save {
            width: 10%;
            height: 5%;
            min-height: 20px;
            min-width: 30px;
            margin-top: 1%;
            color: $c-white;
            background-color: transparent;
            @include accent-glow;
        }

        .cancel {
            width: 10%;
            height: 5%;
            min-height: 20px;
            min-width: 30px;
            margin-top: 1%;
            color: $c-white;
            background-color: transparent;
            @include light-glow;
            margin-left: 5px;
        }
    }

    .app-recent-posts {
        width: 20%;

        @media screen and (max-width: 1000px) {
            display: none;
            width: 0%;
        }
    }
}