@import "../../../styles/main";

header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: $c-dark;
    padding: 5px;
    z-index: 100;
}

.header-right {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hamburger {
    width: 40px;
    height: 40px;
}

.login-signup {
    display: flex;

    .login {
        color: $c-white;
        background-color: $c-dark;
        @include light-glow;
        padding: 10px 10px 10px 10px;
    }

    .signup {
        margin-left: 10px;
        color: $c-white;
        background-color: $c-dark;
        @include accent-glow;
        padding: 10px 10px 10px 10px;
    }
}

a {
    font-size: 30px;
    text-align: center;
    color: $c-white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

    margin-right: 10px;
}

.brand-logo {
    margin-left: 10px;
    height: 40px;
    margin-top: 3px;
    float: left;
}

.brand-text {
    font-size: 30px;
    color: $c-white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin: 5px 0 0 10px;

    @media screen and (max-width: 600px) {
        font-size: 20px;
    }        
}

mat-sidenav {
    width: 200px;
}