<section class = "profile">
    <section class = "top-grid">
        <section class = "personal">
            <img class = "starrednight" src = "/assets/starrednight.jpg">
            <div class = "top">
                <img class = "profilePicture" src="/assets/profile-icon.png">
                <div class = "nameAndTitle">
                    <h1 class = "name">ThatGhost</h1>
                    <h3 class = "title">Software Developer</h3>    
                </div>    
            </div>
            <div class = "bio">
                <div style="display: flex; flex-direction: row;">
                    <img class = "icon" src = "/assets/news-icon.png">
                    <h3 class = "title">Bio</h3>
                </div>
                <p class = "text">Hey, i am a software developer that specialises in typescript and c#. i got my passion for development from video games. when i wanted to make then i had to learn how to code. since then i was absolutly entralled and obsessed with software development and still spend countless hours developing anything i want to make</p>
            </div>
        </section>
        <section class = "activity-feed">
            <section class = "titleAndIcon">
                <img class = "icon" src = "/assets/bell-icon.png">
                <h3 class = "title">Activity feed</h3>
            </section>
            <!--activity list-->
        </section>
    </section>
    <section class = "graph">
        <app-activity-chart></app-activity-chart>
    </section>
</section>
