<section class = "profile">
    <section class = "top-grid">
        <section class = "personal">
            <img class = "starrednight" src = "/assets/starrednight.jpg">
            <div class = "top">
                <div class = "pictureContainer">
                    <img *ngIf = "profileImage === null" class = "profilePicture" src="/assets/profile-icon.png">
                    <img *ngIf = "profileImage !== null" class = "profilePicture" [src] = "profileImage">
                    <div class = "edit">
                        <img src = "/assets/edit-icon.png" (click)="editProfilePicture()">
                        <input type="file" #fileInput (change)="uploadProfilePicture()">
                    </div>
                </div>
                <div class = "nameAndTitle">
                        <h1 class = "username">{{username}}</h1>
                        <h3 class = "title">{{title}}</h3>    
                        <img src = "/assets/edit-icon.png" class = "edit" (click)="editUsernameAndTitle()">
                </div>    
            </div>
            <div class = "bio">
                <div style="display: flex; flex-direction: row; width: 100%;">
                    <img class = "icon" src = "/assets/news-icon.png">
                    <h3 class = "title">Bio</h3>
                    <img src = "/assets/edit-icon.png" class = "edit" (click)="editBio()">
                </div>
                <p class = "text">{{bio}}</p>
            </div>
        </section>
        <section class = "activity-feed">
            <section class = "titleAndIcon">
                <img class = "icon" src = "/assets/bell-icon.png">
                <h3 class = "title">Activity feed</h3>
            </section>
            <ul class = "list">
                <li class = "item" *ngFor="let activity of activities">
                    <div style="display: flex;
                    flex-direction: row;">
                        <img src = {{activity.image}}>
                        <div class = "text">
                            <p>{{activity.title}}</p>
                            <a [routerLink]="activity.link">Click here to view</a>
                        </div>    
                    </div>
                    <div class = "divider"></div>
                </li>
            </ul>
        </section>
    </section>
    <section class = "graph">
        <app-activity-chart #graphElement></app-activity-chart>
    </section>
</section>
