<section class = "profile">
    <section class = "profile-section">
        <img src = "/assets/starrednight.jpg" class = "profile-starrednight">
        <div class = "profile-top">
            <img class = "profile-image" src="/assets/profile-icon.png">
            <div class = "profile-nameAndTitle">
                <h1 class = "profile-name">ThatGhost</h1>
                <h3 class = "profile-title">Software Developer</h3>    
            </div>    
        </div>
        <div class = "profile-bio">
            <div style="display: flex; flex-direction: row;">
                <img class = "profile-bio-icon" src = "/assets/news-icon.png">
                <h3 class = "profile-bio-title">Bio</h3>
            </div>
            <p class = "profile-bio-text">Hey, i am a software developer that specialises in typescript and c#. i got my passion for development from video games. when i wanted to make then i had to learn how to code. since then i was absolutly entralled and obsessed with software development and still spend countless hours developing anything i want to make</p>
        </div>
    </section>
    <section class = "graph">
        
    </section>
    <section class = "activity">
        <!--here comes some sort of activity tracker in the form of a graph-->
        <section class = "activity-feed">

        </section>
        <section class = "activity-other">

        </section>
    </section>
</section>
