@import "../../styles/main";

.other-posts {
    height: 100%;
    width: 100%;
    height: red;

    h2 {
        height: 10%;
        width: 100%;
    }

    ul {
       height: 85%;
       width: 100%;
       list-style-type: none;
       overflow-y: auto;
       padding-right: 5px;

        li {
            .top {
                display: flex;
                flex-direction: row;
                .left {
                    width: 70%;
                    overflow: hidden;
                }

                h3 {
                    margin: 0;
                    font-size: larger;
                    white-space: nowrap;
                }

                h4 {
                    margin: 0;
                    font-size: 13px;
                    white-space: nowrap;
                }

                p {
                    width: 30%;
                    margin: 0;
                    text-align: end;
                }
            }

            .divider {
                margin-bottom: 5px;
                width: 100%;
                border-bottom: 1px solid $c-light;
                box-shadow: 0px 0px 2px $c-light;
                border-radius: 4px;
            }
        }
    }
}
