<section class = "create-post">
    <section class = "post">
        <h2>Title</h2>
        <input #title type="text" class = "title" max="256">
        <h2 style = "margin-top: 1%;">Post</h2>
        <textarea #content class = "content" maxlength="2000"></textarea>
        <button class = "save" (click)="savePost(title.value, content.value)">Ask</button>    
        <button class = "cancel" (click)="cancelPost()">Cancel</button>    
    </section>
    <app-recent-posts class = "app-recent-posts"></app-recent-posts>
</section>
