@import "../../styles/main";

.root {
    padding-top: 70px;
    padding-left: 5%;
    padding-right: 5%;

    height: 80svh;

    display: flex;
    flex-direction: row;

    .post {
        width: 75%;
        margin-right: 5%;
        height: 100%;
        position: relative;
        @include accent-glow;
        padding: 1%;

        h2 {
            margin: 0;
            height: 5%;
        }

        .title {
            height: 5%;
            min-height: 30px;
            width: 95%;
            resize: none;
            background-color: $c-dark;
            color: $c-white;
            font-size: x-large;
            font-family: $default-font;
            @include light-glow;
            padding: 10px;
            margin-bottom: 2%;
        }
    
        .content {
            min-height: 100px;
            width: 95%;
            background-color: $c-dark;
            color: $c-white;
            font-size: large;
            font-family: $default-font;
            @include light-glow;
            padding: 10px;
            margin-bottom: 2%;
        }   
        
        .comments {
            min-height: 20px;
            width: 95%;
            @include light-glow;

            padding: 10px;
        }
    }

    .other-posts {
        width: 20%;

        @media screen and (max-width: 1000px) {
            display: none;
            width: 0%;
        }

        ul {
           list-style-type: none;
           
            li {

                .top {
                    display: flex;
                    flex-direction: row;
                    .left {
                        width: 70%;
                        overflow: hidden;
                    }

                    h3 {
                        margin: 0;
                        font-size: larger;
                        white-space: nowrap;
                    }

                    h4 {
                        margin: 0;
                        font-size: 13px;
                        white-space: nowrap;
                    }
    
                    p {
                        width: 30%;
                        margin: 0;
                        text-align: end;
                    }
                }

                .divider {
                    margin-bottom: 5px;
                    width: 100%;
                    border-bottom: 1px solid $c-light;
                    box-shadow: 0px 0px 2px $c-light;
                    border-radius: 4px;
                }
            }
        }
    }
}