<section class = "root">
    <section class = "post">
        <h1>{{thisPostUser.username}} - {{this.thisPost.at}}</h1>
        <h2 type="text" class = "title" max="256">{{thisPost.title}}</h2>
        <p class = "content">{{thisPost.content}}</p>
        <h3>Comments</h3>
        <section class = "comments">
            <div *ngIf = '!writingComment' class = "comment-button">
                <button (click)="addComment()"></button>
                <img src = "/assets/comment-icon.png">
            </div>
            <div *ngIf = 'writingComment' class = "comment">
                <textarea #commentArea (input)="onTextAreChange()" maxlength="2000">Your comment here</textarea>
                <div class = "buttons">
                    <button class = "save" (click)="saveComment()">Save</button>
                    <button class = "cancel" (click)="cancelComment()">Cancel</button>
                </div>
            </div>
        </section>
    </section>
    <app-recent-posts class = "app-recent-posts"></app-recent-posts>
</section>
