@import "../../styles/main";

.root {
    padding-top: 70px;
    padding-left: 5%;
    padding-right: 2%;

    height: 80svh;

    display: flex;
    flex-direction: row;

    .post {
        width: 78%;
        margin-right: 2%;
        height: 100%;
        position: relative;
        @include accent-glow;
        padding: 1%;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }
    
        h2 {
            margin: 0;
            height: 5%;
        }

        .title {
            height: 5%;
            min-height: 30px;
            width: 95%;
            resize: none;
            background-color: $c-dark;
            color: $c-white;
            font-size: x-large;
            font-family: $default-font;
            @include light-glow;
            padding: 10px;
            margin-bottom: 2%;
        }
    
        .content {
            min-height: 100px;
            width: 95%;
            background-color: $c-dark;
            color: $c-white;
            font-size: large;
            font-family: $default-font;
            @include light-glow;
            padding: 10px;
            margin-bottom: 2%;
        }   
        
        .comments {
            min-height: 20px;
            width: 95%;
            @include light-glow;

            padding: 10px;

            .comment-button {
                height: 30px;
                width: 30px;
                position: relative;

                button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: transparent;
                    border: 0;
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .comment {
                width: 100%;

                textarea {
                    width: 98%;
                    @include accent-left;
                    background-color: $c-dark;
                    color: $c-white;
                    padding: 1%;
                    overflow: auto;
                    resize: none;
                    height: auto;
                }

                .buttons {
                    display: flex;
                    justify-content: end;

                    button {
                        width: 10%;
                        height: 25px;
                        color: $c-white;
                        background-color: $c-dark;
                        margin-left: 5px;
                    }

                    .save {
                        @include accent-glow; 
                    }

                    .cancel {
                        @include light-glow;
                    }
                }
            }
        }
    }

    .app-recent-posts {
        width: 20%;
    }
}