/* You can add global styles to this file, and also import other style files */
* { margin: 0; padding: 0 }
.content {
    height: 700px;
    width: 100%;
    background-image: linear-gradient(180deg, #050a2b, #14269c);
}
